{% extends 'base.html.twig' %}

{% block title %}Hello AcceuilController!{% endblock %}

{% block body %}
  <main role="main" class="container">
    <h1>Modifier un Produit</h1>
    
    {{ form_start(form) }}
      
    {{ include('acceuil/_form.html.twig') }}
        
      <button class="btn btn-primary">
          Modifier
      </button>
      
    {{ form_end(form) }}
  </main> 
{% endblock %}
